/* line 13, /home/ankit/.rvm/gems/ruby-2.2.1/gems/community_engine-3.0.0/app/assets/stylesheets/_font.css.scss */
.css1 {
  font-size: 1.0em;
}

/* line 14, /home/ankit/.rvm/gems/ruby-2.2.1/gems/community_engine-3.0.0/app/assets/stylesheets/_font.css.scss */
.css2 {
  font-size: 1.2em;
}

/* line 15, /home/ankit/.rvm/gems/ruby-2.2.1/gems/community_engine-3.0.0/app/assets/stylesheets/_font.css.scss */
.css3 {
  font-size: 1.4em;
}

/* line 16, /home/ankit/.rvm/gems/ruby-2.2.1/gems/community_engine-3.0.0/app/assets/stylesheets/_font.css.scss */
.css4 {
  font-size: 1.6em;
}

/* line 17, /home/ankit/.rvm/gems/ruby-2.2.1/gems/community_engine-3.0.0/app/assets/stylesheets/_font.css.scss */
.css5 {
  font-size: 1.8em;
}
